<h1><%=t '.title' %></h1>

<table>
  <tr>
  <% for column in Reporttag.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  <tr>
  <% for column in Reporttag.content_columns %>
    <td><%=h @reporttag.send(column.name) %></td>
  <% end %>
  </tr>
</table>

<%= link_to t('generic.edit'), edit_reporttag_path(@reporttag) %> |
<%= link_to t('generic.back'), reporttags_path %>
