<!DOCTYPE html>
<html>
<head>
  <title>Yamon</title>
  <%= stylesheet_link_tag 'bootstrap' %>
  <%= javascript_include_tag :defaults,'bootstrap' %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= render(:partial => "shared/menu") %>

<%= yield %>

</body>
</html>
